@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700); /* font-family: 'Quattrocento Sans', sans-serif; */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700); /* font-family: 'Open Sans', sans-serif; */
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}




/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: rgb(51, 51, 51);
}

h1 h2 h3 {
    font-family: 'Open Sans', sans-serif;

}


table {
  font-family: 'Quattrocento Sans', sans-serif; 
  font-weight: 400;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#push,
#footer {
    height: 60px;
}

@media (max-width: 767px) {
    footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}