body {
  color: #fff;
  font-size: 11pt;
}

body > row {
    margin-left: 0px;
    margin-right: 0px;
}
legend {
    color: #fff;
}

.photoContainer {
    background-color: #5a5a5a;
    margin-bottom: 15px;
    height: 180px;
    position:relative;
}

.h1photo {
    color: #fff;
    padding: 46px 14px 7px 202px;
}

.profilePicThumb {   
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
    display: block;
    left: 10px;
    margin-top: 3px; 
    padding-left: 10px;
    position: absolute;
    
}

.profilePic {
    background-color: #FFF;
    border: 4px solid #FFF;
    -webkit-border-radius: 3px;
    box-shadow: 5px 5px 3px #888;
    height: 160px;
    width: 160px;
}

.masthead {
    float: right;
}
